/* Global Style */

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 40px 0;
  width: 95%;
  max-width: 1200px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background: #fcfcfc;
  color: #4d4d4d;
}

/* Header */

header {
  margin-bottom: 40px;
  text-align: center;
}

.headline {
  margin-bottom: 30px;
}

h1 {
  font-size: 1.375em;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
}

header p {
  margin-top: 5px;
  font-size: 1.125em;
  font-weight: 300;
}

input {
  border: 1.5px solid #dfdfdf;
  border-radius: 5px;
  height: 45px;
  font-size: 0.875em;
  outline: none;
  width: 100%;
  color: #8f9598;
  padding-left: 15px;
  background: #fff url("../images/search.png") no-repeat;
  background-position: 95% 50%;
}

::placeholder {
  color: #8f9598;
}

/* Employees */

.profile-image {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.employee-card {
  background: #ffffff;
  border: 1.5px solid #dfdfdf;
  border-radius: 5px;
  padding: 2em 1em;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.6s 0.1s ease-out;
  position: relative;
}

.arrow-btn {
  opacity: 0;
  background: url("../images/arrows.svg");
  width: 24px;
  height: 14.9px;
  display: inline-block;
  position: absolute;
  bottom: 15%;
  left: 81%;
  transition: left 0.8s 0.3s ease-in-out;
}

/* Hover Styles */
.employee-card:hover .arrow-btn {
  opacity: 1;
  left: 87%;
}

.employee-card:hover {
  background-color: #171717;
  border-color: #171717;
  z-index: 100;
}

.employee-card:hover .profile-image {
  border: 2px solid #fff;
}

.employee-card:hover p,
.employee-card:hover a {
  color: #898989;
}

.employee-card:hover .employee-name {
  color: #ffffff;
}
/* End Hover Styles */

.employee-text {
  padding-left: 15px;
  color: #8f9598;
  font-size: 0.75em;
}

.employee-text p {
  margin: 5px 0;
}

.employee-text .employee-name {
  font-weight: 700;
  font-size: 1rem;
  color: #4d4d4d;
}

.employee-text .employee-email {
  text-decoration: none;
  color: #8f9598;
}

/* Modal w/ Slider Styling */

.modal {
  display: none;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.7s ease-in;
}

.modal-inner {
  position: relative;
  width: 85%;
  background: #ffffff;
  border-radius: 5px;
  padding: 3em 2em 2.5em;
  margin: 10% auto;
  text-align: center;
  max-width: 450px;
  box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.7);
}

.modal-close-btn {
  font-size: 34px;
  position: absolute;
  top: 0;
  right: 15px;
  margin: 0 !important;
  cursor: pointer;
}

.prevButton,
.nextButton {
  cursor: pointer;
  position: absolute;
  top: 20%;
  font-size: 2.5rem;
  color: rgba(77, 77, 77, 0.4);
  transition: color 0.4s ease-in-out;
}

.prevButton:hover,
.nextButton:hover {
  color: rgba(77, 77, 77, 1);
}

.prevButton {
  left: 10%;
}

.nextButton {
  right: 10%;
}

.modal-content {
  width: 100%;
}

.modal-content p {
  margin: 10px 0;
}

.modal-info-1,
.modal-info-2 {
  color: #8f9598;
  font-size: 0.875em;
}

.modal-info-1 {
  border-bottom: 1.2px solid #dfdfdf;
  padding-bottom: 20px;
}

.modal-info-2 {
  padding-top: 20px;
}

.modal-image {
  display: inline;
  width: 110px;
  height: 110px;
  margin-bottom: 10px;
}

.modal-employee-name {
  font-weight: 700;
  font-size: 1rem;
  color: #4d4d4d;
}

.modal-content a {
  text-decoration: none;
  color: #8f9598;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

/****** Media Queries ******/

@media screen and (min-width: 768px) {
  .employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .employee-container {
    width: 48%;
  }

  input {
    width: 50%;
  }
}

@media screen and (min-width: 1125px) {
  header {
    display: flex;
    text-align: left;
  }

  .headline {
    margin-right: auto;
    margin-bottom: 0;
  }

  input {
    max-width: 370px;
  }

  .employee-card:hover {
    transform: scale(1.145);
  }

  .employee-container {
    width: 32%;
  }

  .modal-inner {
    margin-top: 8%;
  }
}
